* {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  height: 100%;
}

.rotate {
  width: 600px;
  animation: rotation 4s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}
