* {
  box-sizing: border-box;
  margin: 0;
}



.btnDelete {
  display: flex;
justify-content: center;
align-items: start;
  width: 35px;
  height: 35px;
  border: none;
  padding: none;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  
}

.btnDeleteSelected {
  display: flex;
  justify-content: center;
  align-items: start;
    width: 15px;
    height: 15px;
    border: none;
    padding: none;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    
}

.checkboxes {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  
}

